{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang="en" {% endblock %}

{% block title %}
    {% if title %}
        {{ title }} - SmartIndex transparency portal
    {% else %}
        SmartIndex transparency portal
    {% endif %}
{% endblock %}

{% block navbar %}
<!-- CSS -->
<link rel="stylesheet" href="../static/style.css" />

<script src="static/ethers-5.4.umd.min.js" type="application/javascript"></script>
<script src="static/app.js" type="application/javascript"></script>

<!-- Nav Bar -->
<nav class="navbar navbar-expand-xl navbar-dark">
    <a class="navbar-brand mb-0" href="/" style="padding: 0; margin: 0 0.5rem; vertical-align: middle; display: flex; align-items: center;">
        <img class="mr-3 logo-img" src="{{ url_for('static', filename='logo.png') }}" style="height: 6rem; margin: 0 0.5rem; padding: 0" alt="SmartIndex Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="https://smartindex.cash">Website</a></li>
            <li class="nav-item"><a class="nav-link"  href="{{ url_for('index') }}">Portfolio tracker</a></li>
            <li class="nav-item"><a class="nav-link"  href="{{ url_for('proposals') }}">Proposals</a></li>
            <li class="nav-item"><a class="nav-link"  href="{{ url_for('yields') }}">Weekly yield</a></li>
            {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link"  href="{{ url_for('submit_proposal') }}">Submit proposal</a></li>
                <li class="nav-item"><a class="nav-link"  href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right small-navbar-text">
            <table style="margin-left: auto">
                <tr><th>SIDX token stats</th></tr>
                {% for key, value in sidx_stats.items() %}
                <tr><td>{{ key }} : {{ value }}</td></tr>
                {% endfor %}
            </table>
            </ul>
    </div>
  </nav>
{% endblock %}



{% block content %}
<div class="flex-container wrapper">
    <div>
        {% block app_content %}{% endblock %}
    </div>
</div>
{% endblock %}
