{% extends "base.html" %}

{% block app_content %}
{% if date%}
<div class="container"><center><H2>Yields report taken at {{ date }}</H2></center></div>
{% endif %}
<div style="float:left; width:50%;">
        <div class="container">
            <H2>SEP20 tokens balance in the portfolio:</H2>
            <ul id="SEP20_tokens">
                {% for key, value in sep20_balances.items() %}
                {% if key != "Total value" %}
                <li>{{ key }} : {{ value["Current"] }}
                {% if value["Current value"] is defined %}
                    (Value: {{ value["Current value"] }} USD)
                {% else %}
                    (USD value not available)</li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
            <b>Total value: {{ sep20_balances["Total value"] }} USD</b>
    </div>
    <br>
    <div class="container">
        <H2>Stacked tokens balance in the portfolio:</H2>
        <ul id="stacked_tokens">
            {% for key, value in stacked_assets.items() %}
            {% if (key != "Total value") and (key != "Total yield value") %}
            <li>{{ key }}
                <ul>
                    <li>Initial amount: {{ value["Initial"] }}</li>
                    <li>Current amount: {{ value["Current"] }}
                    {% if value["Current value"] is defined %}
                        (Value: {{ value["Current value"] }} USD)
                    {% else %}
                        (USD value not available)</li>
                    {% endif %}
                    <li>Yield: {{ value["Yield"] }} ({{ value["Yield value"] }} USD)</li>
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        <b>Total value: {{  stacked_assets["Total value"] }} USD</b>
        <b>Total yield: {{ stacked_assets["Total yield value"] }} USD</b>
    </div>
    {% if title == "Portfolio tracker" %}
    <img src="{{ url_for('static', filename='pie_chart.png') }}" class="img-fluid" alt="Assets distribution in the portfolio by value">
    {% endif %}
</div>
<div style="float:right; width:50%;">
        <div class="container">
        <H2>SIDX initial liquidity pools:</H2>
        <ul id="SIDX_liquidity_pools">
            {% for key, value in lp_balances.items() %}
            <li>{{ key }}
                <ul>
                    {% for key, value in value.items() %}
                    <li>{{ key }}</li>
                    <ul>
                        <li>Initial amount: {{ value["Initial"] }}</li>
                        <li>Current amount: {{ value["Current"] }}</li>
                        <li>Difference: {{ value["Difference"] }}</li>
                    </ul>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container">
        {% if farms %}
        <H2>Farms:</H2>
        <ul id="farms">
            {% for key, value in farms.items() %}
            <li>{{ key }}
                <ul>
                    {% for farm in value["farms"] %}
                        {% for key, value in farm["Coins"].items() %}
                    <li>{{ key }}</li>
                    <ul>
                        <li>Initial amount: {{ value["Initial amount"] }}</li>
                        <li>Current amount: {{ value["Current"] }}</li>
                        <li>Difference: {{ value["Difference"] }}</li>
                    </ul>
                    {% endfor %}
                    <li>Reward: {{ farm["reward"] }} ({{ farm["reward value"] }} USD)</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="container">
        <H2>LAW Punks:</H2>
        <ul id="law_punks">
            {% for key, value in punks["Wallets"].items() %}
            <li>Wallet: <a href="https://www.smartscan.cash/address/{{key}}">{{key}}</a> LAW earned: {{ value["LAW rewards"] }}</li>
                Punks:
                {% for id in value["Punks"] %}
                    <a href="https://blockng.money/#/detail/{{id}}">Punk #{{id}}</a>
                {% endfor %}
            {% endfor %}
            <br>
            <b>Total LAW earned:  {{ punks["Total LAW pending"] }} LAW - {{ punks["LAW pending in USD"] }} USD</b>
        </ul>
    </div>
</div>
{% endblock %}