{% extends "base.html" %}

{% block app_content %}
{% if date %}
<div class="container"><center><H2>Yields report taken at {{ date }}</H2></center></div>
{% endif %}
<div style="float:left; width:50%;">
    <div class="container">
        <H2>Stacked tokens balance in the portfolio:</H2>
        <ul id="stacked_tokens">
            {% for key, value in stacked_assets.items() %}
            {% if (key != "Total value") and (key != "Total yield value") %}
            <li>{{ key }}
                <ul>
                    <li>Initial amount: {{ value["Initial"] }}</li>
                    <li>Current amount: {{ value["Current"] }}
                    {% if value["Current value"] is defined %}
                        (Value: {{ value["Current value"] }} USD)
                    {% else %}
                        (USD value not available)</li>
                    {% endif %}
                    <li>Yield: {{ value["Yield"] }} ({{ value["Yield value"] }} USD)</li>
                    {% if key == "Celery" %}
                        {% if "Mode" in value %}
                            <li>Current mode: {{ value["Mode"] }}
                            <small>See <a href="https://transparency.smartindex.cash/proposals/16">proposal #16</a></small></li>
                        {% endif %}
                    {% endif %}
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        <b>Total value: {{  stacked_assets["Total value"] }} USD</b>
        <b>Total yield: {{ stacked_assets["Total yield value"] }} USD</b>
    </div>
    {% if title == "Portfolio tracker" %}
    <img src="{{ url_for('static', filename='pie_chart.png') }}" style="max-width: 100%;" alt="Assets distribution in the portfolio by value">
    {% endif %}
</div>
<div style="float:right; width:50%;">
        <div class="container">
        <H2>SIDX initial liquidity pools:</H2>
        <ul id="SIDX_liquidity_pools">
            {% for key, value in lp_balances.items() %}
            <li>{{ key }}
                <ul>
                    {% for key, value in value.items() %}
                    {% if key == "Wrapped BCH" %}
                    <li>{{ key }}</li>
                    <ul>
                        <li>Initial amount: {{ value["Initial"] }}</li>
                        <li>Current amount: {{ value["Current"] }}</li>
                        <li>Difference: {{ value["Difference"] }}</li>
                        <li>Current value: {{ value["Current value"] }} USD</li>
                    </ul>
                    {% endif %}
                    {% if key == "SmartIndex" %}
                    <li>{{ key }}</li>
                    <ul>
                        <li>Initial amount: {{ value["Initial"] }}</li>
                        <li>Current amount: {{ value["Current"] }}</li>
                        <li>Difference: {{ value["Difference"] }}</li>
                        <li>Current value: {{ value["Current value"] }} USD</li>
                    </ul>
                    {% endif %}
                    {% if key == "Reward" %}
                        Reward: {{ value }} MIST
                    {% endif %}
                    {% if key == "Reward value" %}
                        Value: {{ value }} USD
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if extra_lp_balances %}
    <div class="container">
        <H2>Extra SIDX liquidity pools:</H2>
        <small>See <a href="https://transparency.smartindex.cash/proposals/10">proposal #10</a> and <a href="https://transparency.smartindex.cash/proposals/19">proposal #19</a></small>
        <ul id="extra_SIDX_liquidity_pools">
            {% for key, value in extra_lp_balances.items() %}
            <li>{{ key }}
                <ul>
                    {% for key, value in value.items() %}
                    {% if key == "Wrapped BCH" %}
                    <li>{{ key }}</li>
                    <ul>
                        <li>Initial amount: {{ value["Initial"] }}</li>
                        <li>Current amount: {{ value["Current"] }}</li>
                        <li>Difference: {{ value["Difference"] }}</li>
                        <li>Current value: {{ value["Current value"] }} USD</li>
                    </ul>
                    {% endif %}
                    {% if key == "SmartIndex" %}
                    <li>{{ key }}</li>
                    <ul>
                        <li>Initial amount: {{ value["Initial"] }}</li>
                        <li>Current amount: {{ value["Current"] }}</li>
                        <li>Difference: {{ value["Difference"] }}</li>
                        <li>Current value: {{ value["Current value"] }} USD</li>
                    </ul>
                    {% endif %}
                    {% if key == "Reward" %}
                        Reward: {{ value }} farm tokens
                    {% endif %}
                    {% if key == "Reward value" %}
                        Value: {{ value }} USD
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="container">
        {% if farms %}
        <H2>Farms:</H2>
        <ul id="farms">
            {% for key, value in farms.items() %}
            <li>{{ key }}
                <ul>
                    {% for farm in value["farms"] %}
                        {% for key, value in farm["Coins"].items() %}
                    <li>{{ key }}</li>
                    <ul>
                        <li>Initial amount: {{ value["Initial amount"] }}</li>
                        <li>Current amount: {{ value["Current"] }}</li>
                        <li>Difference: {{ value["Difference"] }}</li>
                        <li>Current value: {{ value["Current value"] }} USD</li>
                    </ul>
                    {% endfor %}
                    <li>Reward: {{ farm["reward"] }} ({{ farm["reward value"] }} USD)</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="container">
        <H2>LAW Punks:</H2>
        <ul id="law_punks">
            {% for key, value in punks["Wallets"].items() %}
            <li>Wallet: <a href="https://www.smartscan.cash/address/{{key}}">{{key}}</a> LAW earned: {{ value["LAW rewards"] }}</li>
                Punks:
                {% for id in value["Punks"] %}
                    <a href="https://blockng.money/#/detail/{{id}}">Punk #{{id}}</a>
                {% endfor %}
            {% endfor %}
            <br>
            <b>Total LAW earned:  {{ punks["Total LAW pending"] }} LAW - {{ punks["LAW pending in USD"] }} USD</b>
            {% if punks["Floor price"] %}
            <br>Punks floor price: {{ punks["Floor price"] }} BCH - <b>Total floor value: {{ punks["Total floor value"] }} USD</b>
            {% endif %}
        </ul>
    </div>
</div>
{% if global_stats %}
<div class="container">
        <H2>Global portfolio statistics</H2>
        <ul id="global_stats">
            <li>Total value in liquid assets: {{ global_stats["total_liquid_value"] }} USD</li>
            <li>Total value in illiquid assets: {{ global_stats["total_illiquid_value"] }} USD</li>
            <li>Value per SIDX: {{ global_stats["value_per_sidx"] }} USD</li>
            <li><b>Total value:</b> {{ global_stats["total_portfolio_balance"] }} USD</li>
        </ul>
    </div>
{% endif %}
{% endblock %}
