{% extends "base.html" %}

{% block app_content %}

<style>

    body {
        background-color: #3f627c;
    }

    .navbar {
        background-color: #253a49;
        color: #f8fdff;
    }
    .logo-image {
        vertical-align: middle;
        display: flex;
        align-items: center;
        /* height: 4.75rem; */
        margin: 0 0.5rem;
        padding: 0
    }
    .small-navbar-text {
        font-size: 0.75rem;
    }

    .flex-container {
        display: flex;
    }
    .wrapper {
        margin: auto;
        max-width: 1200px;
    }

    .card {
        background-color: #253a49;
        color: #f8fdff;
        /* opacity: 0.2; */
        margin: 1rem;
    }

    a {
        color: #0ac18e
    }
    a:hover{
        color: #0ac18e
    }

    .blank_row{
        height: 0.75rem !important; /* overwrites any other rules */
    }

    .truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 1;
        -webkit-line-clamp: 1;
    }
  
</style>

{% if date %}
<div class="container"><center><H2>Yields report taken at {{ date }}</H2></center></div>
{% endif %}

    <div class="card-columns">

        {% if global_stats %}
        <div class="card">
            <div class="card-header"><H3>Global Portfolio Statistics</H3></div>
                <div class="card-body">
                    <table id="global_stats" style="width: 100%;">
                        <tr>
                            <th>Current value in liquid assets:</th>
                            <td style="text-align: right;">${{ global_stats["total_liquid_value"] }}</td>
                        </tr>
                        <tr>
                            <th>Current value in illiquid assets:</th>
                            <td style="text-align: right;">${{ global_stats["total_illiquid_value"] }}</td>
                        </tr>
                        <tr>
                            <th>Value per SIDX:</th>
                            <td style="text-align: right;">${{ global_stats["value_per_sidx"] }}</td>
                        </tr>
                        <tr>
                            <th><b>Current value:</b></th>
                            <td style="text-align: right;">${{ global_stats["total_portfolio_balance"] }}</td>
                        </tr>
                        <!-- <li>Total value in liquid assets: {{ global_stats["total_liquid_value"] }} USD</li>
                        <li>Total value in illiquid assets: {{ global_stats["total_illiquid_value"] }} USD</li>
                        <li>Value per SIDX: {{ global_stats["value_per_sidx"] }} USD</li>
                        <li><b>Total value:</b> {{ global_stats["total_portfolio_balance"] }} USD</li> -->
                    </table>
                </div>
        </div>
        {% endif %}

        <div class="card">
            <div class="card-header"><h3>SEP20 Tokens Held</h3></div>
            <div class="card-body">
                <table id="SEP20_tokens" style="width: 100%;">
                    <tr>
                        <th style="width: 50%">Token</th>
                        <th style="width: 20%; text-align: right;">Amount</th>
                        <th style="width: 30%; text-align: right;">Value in USD</th>
                    </tr>
                    {% for key, value in sep20_balances.items() %}
                    {% if key != "Total value" %}
                    <tr>
                        <td>{{ key }}</td>
                        <td style="text-align: right;">{{ value["Current"] }}</td>
                        <td style="text-align: right;">
                        {% if value["Current value"] is defined %}
                            ${{ value["Current value"] }}
                        {% else %}
                            (USD value not available)
                        {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr class="blank_row">
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <th colspan="2">Current Value:</th>
                        <th style="text-align: right;">${{ sep20_balances["Total value"] }}</th>
                    </tr>
                    </table>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header"><H2>Staked tokens balance in the portfolio:</H2></div>
            <div class="card-body">
                <table id="staked_tokens" style="width: 100%;">
                    <tr>
                        <th style="width: 30%">Token</th>
                        <th style="width: 30%;">Initial / Current</th>
                        <th style="width: 15%; text-align: right;">Value</th>
                        <th style="width: 15%; text-align: right;">Yield</th>
                    </tr>
                    {% for key, value in stacked_assets.items() %}
                    {% if (key != "Total value") and (key != "Total yield value") %}
                    <tr>
                        <td>{{ key }}
                            {% if key == "Celery" %}
                                {% if "Mode" in value %}
                                    (<a href="https://transparency.smartindex.cash/proposals/16">{{ value["Mode"] }}</a>)
                                {% endif %}
                            {% endif %}
                        </td>
                        <td><small>{{ value["Initial"] }} / {{ value["Current"] }}</small></td>
                        <td style="text-align: right;">
                            {% if value["Current value"] is defined %}
                                ${{ value["Current value"] }}
                            {% else %}
                                (USD value not available)
                            {% endif %}
                        </td>
                        <td style="text-align: right;">${{ value["Yield value"] }}</td>
                    {% endif %}
                    </tr>
                    {% endfor %}
                    <tr class="blank_row">
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <th colspan="3">Current Value:</th>
                        <th style="text-align: right;">${{  stacked_assets["Total value"] }}</th>
                    </tr>
                    <tr>
                        <th colspan="3">Current Yield:</th>
                        <th style="text-align: right;">${{ stacked_assets["Total yield value"] }}</th>
                    </tr>
                </table>
            </div>
        </div>
    <!-- {% if title == "Portfolio tracker" %}
    <img src="{{ url_for('static', filename='assets_pie_chart.png') }}" style="max-width: 100%;" alt="Assets distribution in the portfolio by value">
    {% endif %} -->
    {% if farms %}
        <div class="card">
            <div class="card-header"><H2>Farms:</H2></div>
            <div class="card-body">
                <table id="farms" style="width: 100%;">
                    {% for key, value in farms.items() %}
                        {% if loop.index > 1 %}
                            <tr class="blank_row"><td colspan="4"></td></tr>
                            <tr class="blank_row"><td colspan="4"></td></tr>
                        {% endif %}
                        <tr><th colspan="4">{{ key }}</th></tr>
                        <tr class="blank_row"><td colspan="4"></td></tr>
                        <tr>
                            <th style="width: 35%">Token</th>
                            <th style="width: 25%">Initial / Current</th>
                            <th style="width: 15%; text-align: right;">Difference</th>
                            <th style="width: 15%; text-align: right;">Value</th>  
                        </tr>
                            {% for farm in value["farms"] %}
                                {% if loop.index > 1 %}
                                    <tr class="blank_row"><td colspan="4"></td></tr>
                                {% endif %}
                                {% for key, value in farm["Coins"].items() %}
                                <tr>
                                    <td class="truncate">{{ key }}</td>
                                    <td><small>{{ value["Initial amount"] }} / {{ value["Current"] }}</small></td>
                                    <td style="text-align: right;">{{ value["Difference"] }}</td>
                                    <td style="text-align: right;">${{ value["Current value"] }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <th colspan="2">Reward Tokens:</th>
                                    <th colspan="2" style="text-align: right;">{{ farm["reward"] }}</th>
                                </tr>
                                <tr>
                                    <th colspan="2">Reward Value:</th>
                                    <th colspan="2" style="text-align: right;">${{ farm["reward value"] }}</th>
                                </tr>
                            {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
    <!-- {% if title == "Portfolio tracker" %}
    <img src="{{ url_for('static', filename='farms_pie_chart.png') }}" style="max-width: 100%;" alt="Farms distribution in the portfolio by USD value">
    {% endif %} -->
        <div class="card">
        <div class="card-header"><H2>SIDX initial liquidity pools:</H2></div>
        <div class="card-body">
        <ul id="SIDX_liquidity_pools">
            {% for key, value in lp_balances.items() %}
            <li><b>{{ key }}</b>
                <ul>
                    {% for key, value in value.items() %}
                    {% if key == "Wrapped BCH" %}
                    <li>{{ key }}</li>
                    <ul>
                        <li>Initial amount: {{ value["Initial"] }}</li>
                        <li>Current amount: {{ value["Current"] }}</li>
                        <li>Difference: {{ value["Difference"] }}</li>
                        <li>Current value: {{ value["Current value"] }} USD</li>
                    </ul>
                    {% endif %}
                    {% if key == "SmartIndex" %}
                    <li>{{ key }}</li>
                    <ul>
                        <li>Initial amount: {{ value["Initial"] }}</li>
                        <li>Current amount: {{ value["Current"] }}</li>
                        <li>Difference: {{ value["Difference"] }}</li>
                        <li>Current value: {{ value["Current value"] }} USD</li>
                    </ul>
                    {% endif %}
                    {% if key == "LAWTOKEN" %}
                    <li>{{ key }}</li>
                    <ul>
                        <li>Initial amount: {{ value["Initial"] }}</li>
                        <li>Current amount: {{ value["Current"] }}</li>
                        <li>Difference: {{ value["Difference"] }}</li>
                        <li>Current value: {{ value["Current value"] }} USD</li>
                    </ul>
                    {% endif %}
                    {% if key == "Reward" %}
                        Reward: {{ value }} reward tokens
                    {% endif %}
                    {% if key == "Reward value" %}
                        Value: {{ value }} USD
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>

    {% if extra_lp_balances %}
    <div class="card">
        <div class="card-header"><H2>Extra SIDX liquidity pools:</H2></div>
        <div class="card-body">
        <small>See <a href="https://transparency.smartindex.cash/proposals/10">proposal #10</a>, <a href="https://transparency.smartindex.cash/proposals/19">#19</a> and <a href="https://transparency.smartindex.cash/proposals/21">#21</a></small>
        <ul id="extra_SIDX_liquidity_pools">
            {% for key, value in extra_lp_balances.items() %}
            <li><b>{{ key }}</b>
                <ul>
                    {% for key, value in value.items() %}
                    {% if key == "Wrapped BCH" or key == "Ember Token" %}
                    <li>{{ key }}</li>
                    <ul>
                        <li>Initial amount: {{ value["Initial"] }}</li>
                        <li>Current amount: {{ value["Current"] }}</li>
                        <li>Difference: {{ value["Difference"] }}</li>
                        <li>Current value: {{ value["Current value"] }} USD</li>
                    </ul>
                    {% endif %}
                    {% if key == "SmartIndex" %}
                    <li>{{ key }}</li>
                    <ul>
                        <li>Initial amount: {{ value["Initial"] }}</li>
                        <li>Current amount: {{ value["Current"] }}</li>
                        <li>Difference: {{ value["Difference"] }}</li>
                        <li>Current value: {{ value["Current value"] }} USD</li>
                    </ul>
                    {% endif %}
                    {% if key == "Reward" %}
                        Reward: {{ value }} farm tokens
                    {% endif %}
                    {% if key == "Reward value" %}
                        Value: {{ value }} USD
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <!-- {% if title == "Portfolio tracker" %}
        <img src="{{ url_for('static', filename='liquidity_allocation.png') }}" style="max-width: 100%;" alt="Value SIDX liquidity allocation by DEX">
    {% endif %} -->
    {% endif %}
    <div class="card">
        <div class="card-header"><H2>LAW Punks:</H2></div>
        <div class="card-body">
        <ul id="law_punks">
            {% for key, value in punks["Wallets"].items() %}
            <li>Wallet: <a href="https://www.smartscan.cash/address/{{key}}">{{key}}</a> LAW earned: {{ value["LAW rewards"] }}</li>
                Punks:
                {% for id in value["Punks"] %}
                    <a href="https://blockng.money/#/detail/{{id}}">Punk #{{id}}</a>
                {% endfor %}
            {% endfor %}
            <br>
            <b>Total LAW earned:  {{ punks["Total LAW pending"] }} LAW - {{ punks["LAW pending in USD"] }} USD</b>
            {% if punks["Floor price"] %}
            <br>Punks floor price: {{ punks["Floor price"] }} BCH - <b>Total floor value: {{ punks["Total floor value"] }} USD</b>
            {% endif %}
        </ul>
    </div>
</div>
    {% if law_rights %}
    <div class="card">
        <div class="card-header"><H2>LAW Rights:</H2></div>
            <ul id="law_rights">
                {% for key, value in law_rights["tokens"].items() %}
                    <li>LAW right ID #{{key}}: LAW locked: {{ value["LAW"] }} - LAW earned: {{ value["LAW rewards"] }}</li>
                {% endfor %}
                <br>
                <b>Total LAW earned:  {{ law_rights["Total LAW pending"] }} LAW - {{ law_rights["LAW pending in USD"] }} USD</b>
                <br>
                <b>Total LAW locked:  {{ law_rights["Total LAW locked"] }} LAW - {{ law_rights["LAW locked in USD"] }} USD</b>
            </ul>
        </div>
    </div>
    {% endif %}


{% endblock %}
