{% extends "base.html" %}

{% block app_content %}
<script src="static/ethers-5.4.umd.min.js"
        type="application/javascript"></script>
<script src="static/app.js" type="application/javascript"></script>

<style>.inline {
  display: inline-block;
}</style>

<div class="container">
  <H2>SmartIndex proposals:</H2>
  <H3>Proposals along the information for voting can be found in the <a href="https://smartindex.cash/news-proposals/">News & Proposals</a> section of SmartIndex website.</H3>
    <H4>Click on any proposal to see its respective voting instructions. Remember that dates are in UTC time. Current UTC hour is <div id="clock" class="inline"></div>.</H4>
</div>

<div class="container" align="right">
    <div id="msg" class="alert alert-primary"></div>
    {% if not current_user.is_authenticated %}
        <br><button class="btn btn-primary" id="login" disabled onclick='login()'>Login</button>
    {% endif %}
</div>

<br>

{% with messages=get_flashed_messages() %}
    {% if messages %}
            {% for message in messages %}
             <div class="alert alert-error">{{ message|safe }}</div>
            {% endfor %}
    {% endif %}
{% endwith %}

{% for proposal in proposals %}
<div class="list-group">
  <a href="proposals/{{ proposal.id }}" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Proposal #{{ proposal.id }}</h5>
        {% if proposal.open %}
        <b><p style="color:rgb(0,200,0);">Open</p></b>
        {% else %}
            <b><p style="color:rgb(250,0,0);">Closed</p></b>
            <H3><p class="text-right">Final result:</p></H3>
            <H3><p class="text-right">{{ proposal.result }}</p></H3>
        {% endif %}
    </div>
      <p class="mb-1"><b>Proposal description:</b> {{ proposal.proposal }}</p>
      <small><b>Author:</b> {{ proposal.proposal_author }}</small>
      <small><b>Start date:</b> {{ proposal.start_time }} - <b>Deadline:</b> {{ proposal.end_time }} UTC Time</small>
  </a>
  {% if proposal.option_a_tag %}
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ proposal.option_a_tag }}</h5>
            </div>
            <p class="mb-1">{{ proposal.option_a_votes }} [OPTION: A]</p>
          </a>
  {% endif %}
  {% if proposal.option_b_tag %}
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ proposal.option_b_tag }}</h5>
            </div>
            <p class="mb-1">{{ proposal.option_b_votes }} [OPTION: B]</p>
          </a>
  {% endif %}
    {% if proposal.option_c_tag %}
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ proposal.option_c_tag }}</h5>
            </div>
            <p class="mb-1">{{ proposal.option_c_votes }} [OPTION: C]</p>
          </a>
  {% endif %}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">REJECT</h5>
            </div>
            <p class="mb-1">{{ proposal.reject_votes }} [OPTION: {{ proposal.reject_option }}]</p>
          </a>
</div>
{% endfor %}
<hr>
<div class="container" align="center">
    {% if prev_url %}
        <div style="display: inline-block"><a href="{{ prev_url }}" class="badge"><h5>Newer proposals</h5></a></div>
    {% endif %}
    {% if next_url %}
        <div style="display: inline-block"><a href="{{ next_url }}" class="badge"><h5>Older proposals</h5></a></div>
    {% endif %}
</div>
<br>
<script>
function startTime() {
  var today = new Date();
  var h = today.getUTCHours();
  var m = today.getUTCMinutes();
  var s = today.getUTCSeconds();
  if (h > 24) {
    h = h - 24;
  }
  if (h < 0) {
    h = h + 24;
  }
  h = checkTime(h);
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('clock').innerHTML = h + ":" + m + ":" + s;
  var t = setTimeout(function() {
    startTime()
  }, 500);
}

function checkTime(i) {
      if (i < 10) {
        i = "0" + i
      };
      return i;
}

startTime()
</script>
{% endblock %}