{% extends "base.html" %}

{% block app_content %}
<H2>SmartIndex proposals:</H2>
<div class="container">
  <H3>Proposals along the information for voting can be found in the <a href="https://smartindex.cash/news-proposals/">News & Proposals</a> section of SmartIndex website.</H3>
</div>
{% for key, value in proposals.items() %}
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Proposal {{ key }}</h5>
        {% if value["Open"] %}
        <b><p style="color:rgb(0,200,0);">Open</p></b>
        {% else %}
            <b><p style="color:rgb(250,0,0);">Closed</p></b>
            <H3><p class="text-right">Final result: {{ value["Result"] }}</p></H3>
        {% endif %}
    </div>
      <p class="mb-1"><b>Proposal description:</b> {{ value["Proposal text"] }}</p>
      <small><b>Author:</b> {{ value["Author"] }}</small>
      <small><b>Start date:</b> {{ value["Start time"] }} - <b>Deadline:</b> {{ value["End time"] }} UTC Time</small>
  </a>
    {% if value["Choices"]|length == 2 %}
        {% for choice, votes in value["Choices"].items() %}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ votes["TAG"] }}</h5>
    </div>
    <p class="mb-1">{{ votes["Votes"] }}</p>
  </a>
        {% endfor %}
      {% else %}
        {% for choice, votes in value["Choices"].items() %}
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ votes["TAG"] }}</h5>
            </div>
            <p class="mb-1">{{ votes["Votes"] }} [OPTION: {{ choice }}]</p>
          </a>
        {% endfor %}
    {% endif %}
</div>
{% endfor %}
{% endblock %}