{% extends "base.html" %}

{% block app_content %}
<style>.inline {
  display: inline-block;
}</style>

{% with messages=get_flashed_messages() %}
    {% if messages %}
            {% for message in messages %}
             <div class="alert alert-error">{{ message|safe }}</div>
            {% endfor %}
    {% endif %}
{% endwith %}

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Proposal #{{ proposal.id }}</h5>
        {% if proposal.open %}
        <b><p style="color:rgb(0,200,0);">Open</p></b>
        {% else %}
            <b><p style="color:rgb(250,0,0);">Closed</p></b>
            <H3><p class="text-right">Final result:</p></H3>
            <H3><p class="text-right">{{ proposal.result }}</p></H3>
        {% endif %}
    </div>
      <p class="mb-1"><b>Proposal description:</b> {{ proposal.proposal }}</p>
      <small><b>Author:</b> {{ proposal.proposal_author }}</small>
      <small><b>Start date:</b> {{ proposal.start_time }} - <b>Deadline:</b> {{ proposal.end_time }} UTC Time <p class="text-right"><b><a href="https://transparency.smartindex.cash/static/calendar/Proposal{{proposal.id}}.ics">Add to your calendar</a></b></p></small>
  </a>
  {% if proposal.option_a_tag %}
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ proposal.option_a_tag }}</h5>
            </div>
            <p class="mb-1">{{'%0.2f'|format(proposal.option_a_votes|float)}} [OPTION: A]</p>
          </a>
  {% endif %}
  {% if proposal.option_b_tag %}
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ proposal.option_b_tag }}</h5>
            </div>
            <p class="mb-1">{{'%0.2f'|format(proposal.option_b_votes|float)}} [OPTION: B]</p>
          </a>
  {% endif %}
    {% if proposal.option_c_tag %}
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ proposal.option_c_tag }}</h5>
            </div>
            <p class="mb-1">{{'%0.2f'|format(proposal.option_c_votes|float)}} [OPTION: C]</p>
          </a>
  {% endif %}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">REJECT</h5>
            </div>
            <p class="mb-1">{{'%0.2f'|format(proposal.reject_votes|float)}} [OPTION: {{ proposal.reject_option }}]</p>
          </a>
</div>

<center>
<div class="container">
{% if form %}
    <div style="display: inline-block">
    <form action="" method="post" novalidate>
        <div class="form-group">
            {{ form.hidden_tag() }}
            Pick your choice: {{ form.choice }}
            <button type="submit" class="btn btn-primary" id="submit" name="submit" value="Vote">Vote</button>
        </div>
    </div>
    </form>
{% endif %}

{% if user_balance %}
    <div style="display: inline-block"><b>You have {{ user_balance }} SIDX tokens for voting in this proposal.</b></div>
{% endif %}
</div>
</center>

<div class="container">
    <H2>Considerations about voting</H2>
    <ul>
        <li>You can only vote if you are logged in the platform. You can log in the in the <a href="{{ url_for('proposals') }}">Proposals page</a>. If the login button is disabled, log in first in your Metamask wallet.</li>
        <li>Votes are final: you cannot change your choice once you submit your vote.</li>
        <li>At approval time, a snapshot of all SIDX tokens is taken, including tokens laying on liquidity pools and farms. This page will display your current balance for voting in this proposal, if any.</li>
        <li>SIDX tokens deposited to your wallet after snapshot time cannot be used to vote.</li>
        <li>All votes are notarized on the BCH blockchain and can be seen at <a href="https://memo.cash/profile/16F133RGB3mw9XvBsmRuE9dJ3BAxfzGEdf">SmartIndex's memo.cash profile.</a></li>
    </ul>
</div>
<hr>
<center><h3>Go back to <a href="{{ url_for('proposals') }}">Proposals page</a>.</h3></center>
{% endblock %}