{% extends "base.html" %}

{% block app_content %}
<script src="static/ethers-5.4.umd.min.js"
        type="application/javascript"></script>
<script src="static/app.js" type="application/javascript"></script>
<link rel="stylesheet" href="../static/style.css" />


<div class="card">
  <div class="card-header"><H2>SmartIndex Proposals:</H2></div>
  <div class="card-body">
    {% if not current_user.is_authenticated %}
        <H3>You need to log in to vote and submit proposals.</H3>
    {% endif %}
    <h5>Click on any proposal to see its respective voting instructions. Remember that dates are in UTC time.</h5>
    <h5 style="display: inline">Current UTC hour is <div id="clock" style="color: #0ac18e;" class="inline"></div>.</h5>
      <div id="msg" class="alert alert-success" style="display: none"></div>
        {% if not current_user.is_authenticated %}
          <button class="btn btn-success" style="float: right;" id="login" disabled onclick='login()'>Login</button>
        {% endif %}
  </div>
</div>
<br>

{% with messages=get_flashed_messages() %}
    {% if messages %}
            {% for message in messages %}
             <div class="alert alert-error">{{ message|safe }}</div>
            {% endfor %}
    {% endif %}
{% endwith %}

{% for proposal in proposals %}
<div class="card proposal">
  <a href="proposals/{{ proposal.id }}" class="flex-column align-items-start active">
    <div class="card-header" style="padding: 0.75rem 1.25rem ;">
      <div style="display: inline-block">
        <h5 class="mb-1" style="margin-bottom: 0.25rem;">Proposal #{{ proposal.id }}</h5><br />
          {% if proposal.open %}
            <b><p style="color:rgb(0,200,0); margin-bottom: 0.25rem;">Open</p></b>
          {% else %}
              <b><p style="color:rgb(250,0,0); margin-bottom: 0.25rem;">Closed</p></b>
      </div>
      <div style="float: right;">
          <H3><p class="text-right" style="margin-bottom: 0.25rem;">Final result:</p></H3>
          <H4><p class="text-right" style="margin-bottom: 0.25rem; color: #0ac18e;">{{ proposal.result }}</p></H4>
          {% endif %}
      </div>
    </div>
    <div class="card-body">
        <p class="mb-1"><b>Proposal description:</b> {{ proposal.proposal }}</p>
        <small><b>Author:</b> {{ proposal.proposal_author }}</small>
        <small><b>Start date:</b> {{ proposal.start_time }} - <b>Deadline:</b> {{ proposal.end_time }} UTC Time</small>
    </div>
  {% if proposal.option_a_tag %}
    <div class="card-header">
      <h5 class="mb-1">{{ proposal.option_a_tag }}</h5>
      <p class="mb-1">{{'%0.2f'|format(proposal.option_a_votes|float)}} [OPTION: A]</p>
    </div>
  {% endif %}
  {% if proposal.option_b_tag %}
    <div class="card-header">
      <h5 class="mb-1">{{ proposal.option_b_tag }}</h5>
      <p class="mb-1">{{'%0.2f'|format(proposal.option_b_votes|float)}} [OPTION: B]</p>
    </div>
  {% endif %}
    {% if proposal.option_c_tag %}
    <div class="card-header">
      <h5 class="mb-1">{{ proposal.option_c_tag }}</h5>
      <p class="mb-1">{{'%0.2f'|format(proposal.option_c_votes|float)}} [OPTION: C]</p>
    </div>
  {% endif %}
    <div class="card-header">
      <h5 class="mb-1">REJECT</h5>
      <p class="mb-1">{{'%0.2f'|format(proposal.reject_votes|float)}} [OPTION: {{ proposal.reject_option }}]</p>
    </div>
  </a>
</div>
{% endfor %}
<hr>
<div style="text-align: center;">
    {% if prev_url %}
        <button class="btn btn-outline-success" href="{{ prev_url }}">Newer Proposals</button>
    {% endif %}
    {% if next_url %}
        <button class="btn btn-outline-success" href="{{ next_url }}">Older Proposals</button>
    {% endif %}
</div>
<br />

<script>
function startTime() {
  var today = new Date();
  var h = today.getUTCHours();
  var m = today.getUTCMinutes();
  var s = today.getUTCSeconds();
  if (h > 24) {
    h = h - 24;
  }
  if (h < 0) {
    h = h + 24;
  }
  h = checkTime(h);
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('clock').innerHTML = h + ":" + m + ":" + s;
  var t = setTimeout(function() {
    startTime()
  }, 500);
}

function checkTime(i) {
      if (i < 10) {
        i = "0" + i
      };
      return i;
}

startTime()
</script>
{% endblock %}