{% extends "base.html" %}

{% block app_content %}

<div class="card">
  <div class="card-header"><H2>SmartIndex weekly yields</H2></div>
  <div class="card-body">
    <h4>Every week, a snapshot of the yields given by the managed portfolio is taken Sunday at 12:00 UTC. In this section, you can check every snapshot taken since the inception of SmartIndex.</h4>
    <h5>The profits from the yields will be used in the following ways:</h5>
    <ul>
      <li>All staked tokens will have their profits swapped for SIDX/BCH liquidity on Mistswap</li>
      <li>For each LP and farm, the profits will be swapped for SIDX liquidty, paired with either BCH or the DEX's native token, whichever option is available, to boost the SIDX liquidty on 
        <a href="https://www.marketcap.cash/" target="_blank">MarketCap.cash</a>. Any exceptions to this rule are:
      </li>
        <ul>
          <li>The profits from the BCH/bcBCH farm on Mistswap are currently swapped for bcUSDT to give the portfolio a stablecoin holding.</li>
          <li>The BlockNG Beam pools have a 1% burn for harvesting and withdrawl, therefore they are left unharvested until acted on by a proposal.</li>
        </ul>
      <li>Celery is on a payout schedule of 5 days of staking and 2 days of payout (<a href="https://transparency.smartindex.cash/proposals/16">Proposal #16</a>), 
        to give a steady source of income like the other staked tokens in the portfolio.
      </li>
    </ul>
  </div>
</div>

<div class="scroll">
  {% for name in snapshots %}
    <a href="yields/{{ name }}" class="list-group-item list-group-item-action">{{ name }}</a>
  {% endfor %}
</div>

<div class="card" style="align-items: center;">
  <div><img src="{{ url_for('static', filename='assets_apy.png') }}" style="max-width: 100%;" alt="Estimated APY of portfolio assets"></div>
  <div><img src="{{ url_for('static', filename='yields.png') }}" style="max-width: 100%;" alt="Weekly yields of stacked assets (percentage)"></div>
  <div><img src="{{ url_for('static', filename='farms_yields.png') }}" style="max-width: 100%;" alt="Weekly yields of non-SIDX farms (percentage)"></div>
  <div><img src="{{ url_for('static', filename='sidx_liquidity_rewards.png') }}" style="max-width: 100%;" alt="Weekly reward percentage of SIDX liquidity pools by DEX (percentage)"></div>
  <div><img src="{{ url_for('static', filename='assets_value.png') }}" style="max-width: 100%;" alt="Value evolution of stacked assets"></div>
  <div><img src="{{ url_for('static', filename='farms_value.png') }}" style="max-width: 100%;" alt="Value evolution of assets in farms"></div>
  <div><img src="{{ url_for('static', filename='sidx_value.png') }}" style="max-width: 100%;" alt="Value per SIDX token"></div>
</div>

{% endblock %}