{% extends "base.html" %}

{% block app_content %}
<div class="container">
  <H2>SmartIndex weekly yields</H2>
  <H3>Every week, yields given by the managed portfolio will be used to add liquidity to the SIDX/BCH pair in Mistswap (see <a href="proposals/10">Proposal #10</a>). A snapshot of the yields is taken every sunday at 12:00 UTC.
  In this section, you can check every snapshot taken.</H3>
</div>

<div class="list-group">
  {% for name in snapshots %}
    <a href="yields/{{ name }}" class="list-group-item list-group-item-action">{{ name }}</a>
  {% endfor %}
</div>

<div class="container" align="center"><img src="{{ url_for('static', filename='assets_apy.png') }}" style="max-width: 100%;" alt="Estimated APY of portfolio assets">
  <img src="{{ url_for('static', filename='yields.png') }}" style="max-width: 100%;" alt="Weekly yields of stacked assets (percentage)">
  <img src="{{ url_for('static', filename='farms_yields.png') }}" style="max-width: 100%;" alt="Weekly yields of non-SIDX farms (percentage)">
<img src="{{ url_for('static', filename='assets_value.png') }}" style="max-width: 100%;" alt="Value evolution of stacked assets">
  <img src="{{ url_for('static', filename='farms_value.png') }}" style="max-width: 100%;" alt="Value evolution of assets in farms">
<img src="{{ url_for('static', filename='sidx_value.png') }}" style="max-width: 100%;" alt="Value per SIDX token"></div>

{% endblock %}