{% extends "base.html" %}

{% block app_content %}

<style>
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .scroll {
        display: block;
        border: 2px solid grey;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        width: 100%;
        height: 300px;
        overflow-y: scroll;
    }
    .list-group-item-action {
      background-color: #253a49;
      color: #f8fdff;
    }
    .list-group-item-action:hover{
      background-color: #0ac18e;
      color: rgba(0, 0, 0, 0.87);
    }
</style>

<div class="container">
  <H2>SmartIndex weekly yields</H2>
  <H3>Every week, yields given by the managed portfolio will be used to add liquidity to the SIDX/BCH pair in Mistswap (see <a href="proposals/10">Proposal #10</a>). A snapshot of the yields is taken every sunday at 12:00 UTC.
  In this section, you can check every snapshot taken.</H3>
</div>

<div class="scroll">
  {% for name in snapshots %}
    <a href="yields/{{ name }}" class="list-group-item list-group-item-action">{{ name }}</a>
  {% endfor %}
</div>

<div class="container" align="center"><img src="{{ url_for('static', filename='assets_apy.png') }}" style="max-width: 100%;" alt="Estimated APY of portfolio assets">
  <img src="{{ url_for('static', filename='yields.png') }}" style="max-width: 100%;" alt="Weekly yields of stacked assets (percentage)">
  <img src="{{ url_for('static', filename='farms_yields.png') }}" style="max-width: 100%;" alt="Weekly yields of non-SIDX farms (percentage)">
  <img src="{{ url_for('static', filename='sidx_liquidity_rewards.png') }}" style="max-width: 100%;" alt="Weekly reward percentage of SIDX liquidity pools by DEX (percentage)">
<img src="{{ url_for('static', filename='assets_value.png') }}" style="max-width: 100%;" alt="Value evolution of stacked assets">
  <img src="{{ url_for('static', filename='farms_value.png') }}" style="max-width: 100%;" alt="Value evolution of assets in farms">
<img src="{{ url_for('static', filename='sidx_value.png') }}" style="max-width: 100%;" alt="Value per SIDX token"></div>

{% endblock %}